* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.15s ease-in;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  background: hsl(0, 0%, 10%);
}

.navbar {
  border-bottom: 2px solid hsl(0, 0%, 25%);
}

nav ul {
  display: flex;
  justify-content: end;
  align-items: center;
  list-style: none;
  font-size: 1.55rem;
  width: 100%;
  height: 50px;
  padding: 0 10px;
}

.logo {
  margin-right: auto;
  color: #d21eff;
  font-weight: 700;
  font-size: 2rem;
  height: 100%;
  padding: 0 1.2rem;
  display: flex;
  align-items: center;
}

.menu {
  color: #ffffff;
  height: 100%;
  padding: 0 1.2rem;
  font-weight: 600;

  display: none;
  align-items: center;
  cursor: pointer;
}

.link {
  height: 100%;
}

.link a {
  text-decoration: none;
  color: #ffffff;
  height: 100%;
  padding: 0 1.2rem;
  font-weight: 600;

  display: flex;
  align-items: center;
}

.link a:hover {
  background: hsl(0, 0%, 50%);
}

.side-bar {
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  background: hsla(0, 0%, 100%, 0.247);
  backdrop-filter: blur(10px);
  width: 25rem;
  min-height: 100vh;
  top: 0;
  right: 0;
}

.side-bar .link {
  height: auto;
  padding: 2rem 0;
  width: 100%;
}

.side-bar .link a {
  width: 100%;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}

.side-bar .close {
  color: #ffffff;
  cursor: pointer;
  font-size: 2rem;
}

@media (max-width: 600px) {
  .hidden {
    display: none;
  }

  .menu {
    display: flex;
  }
}

@media (max-width: 400px) {
  .side-bar {
    width: 100%;
  }
}

/* main */
.main {
  display: flex;
  flex-direction: column;
  row-gap: 8rem;
  width: 90%;
  margin: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  column-gap: 5rem;
  max-width: 55rem;
  margin: auto;
}

.section img {
  width: 20remx;
  border-radius: 50%;
}

.section .texts h2{
  font-size: 2rem;
  margin-bottom: 2rem;
  color: hsl(289, 100%, 95%);
}

.section .texts p{
  font-size: 1.5rem;
  color: hsl(0, 0%, 64%);
}

.my-icon {
  color: #d21eff;
  font-size: 20rem;
}

/* end of main */

/* footer */
.footer{
  border-top: 2px solid hsl(0, 0%, 25%);
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 4rem;
}

.footer p{
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  margin-right: auto;
}

.footer .social-media{
  display: flex;
  list-style: none;
  font-size: 1.5rem;
}

.footer .social-media li {
  color: #ffffff;
  padding: 4px;
  margin-left: 10px;
  border: 1px solid ;
  border-radius: 100px;
}

.footer .social-media li:hover {
  opacity: 0.6;
}

/* end of footer */

/* on mobile */

@media (max-width: 600px) {
  .section{
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid hsl(0, 0%, 25%);
    padding-bottom: 4rem;
  }

  .section h2{
    margin-top: 3rem;
  }

  .section p{
    width: 80%;
    margin: auto;
  }
}
